body{
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}

.navigation-link{
color: var(--accent-color);
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.03em;
}
 /* contact */
.contact-link{
    color: var(--accent-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em; 
}
 /* menu */
.menu-title{
    color: var(--text-color);
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.363636363636364; 
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.menu-button{
color: var(--text-color);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 1.875; 
letter-spacing: 0.06em;
}
/* feature */

.feature-title{
    color: var( --text2-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-text {
color: var(--additional2-text-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.714285714285714; 
letter-spacing: 0.03em;
}
/* service */
.services-title{
    color: var(--text2-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
}

/* team */
.team-title{
    color: var(--text2-color);
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.03em;
}

.team-text{
    color: var(--additional2-text-color);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.03em;
}

/* footer */

.footer-title{
color: var(--accent-color);
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.03em;

color:var(--text-color);
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing:0.03em;
}
.footer-address{
color: var(--text-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.714285714285714; 
letter-spacing: 0.03em;
}
.footer-email{
color: var(--additional-text-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.714285714285714; 
letter-spacing:  0.03em;
}

.footer-phone{
color: var(--additional-text-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height:  1.714285714285714; 
letter-spacing: 0.03em;
}
