:root {
    --accent-color: #2196F3; ;
    --text-color: #FFF ;
    --text2-color: #212121;
    --additional-text-color: rgba(255, 255, 255, 0.60);
    --additional2-text-color: #757575;
    --background-color: #2F303A;
    --shadow-color-button: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    --shadow-color-menu:  0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    --logo-text-color: #000;
    --white-logo-color: white;
}
body{
    font-family: "Roboto", sans-serif;
}

    

